* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #3a4750, #1f6572, #00857d, #22a26d, #7aba49, #b3b034, #dfa13f, #ff925f, #f37d88, #cb78a5, #967aac, #69779b);
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

input {
    font-size: 25px;
    border-color: black;
    border-radius: 25px;
    padding: 2.5px 2.5px;
    margin: 10px;
}

/* table {
    margin: auto;
} */

button {
    font-size: 25px;
    width: 55px;
    height: 55px;
    color: rgb(206, 212, 217);
    background: rgb(56, 65, 72);
    border-color: rgba(56, 65, 72, 0.5);
    border-radius: 30px;
    margin: 3px;

}

button:hover {
    background-color: black;
    opacity: .8;
}

.red-btn {
    color: red;
}

.green-btn {
    color: greenyellow;
}

.yellow-btn {
    color: yellow;
}